<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.punuo.sys.app.agedcare">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />

    <application>
        <activity
            android:name=".ui.HomeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Pn.Translucent" />
        <activity
            android:name=".ui.CodeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Pn.Translucent" />
        <activity
            android:name=".ui.ChsChange"
            android:screenOrientation="landscape" />
        <activity android:name=".video.H264Sending" />
        <activity android:name=".ui.VideoPlay" />
        <activity
            android:name=".ui.AlbumActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Pn.Translucent" />
        <activity
            android:name=".ui.VideoCallActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.VideoStart"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".ui.ImagePagerActivity"
            android:theme="@style/Theme.Pn.Translucent" />

        <service android:name=".service.PTTService" />
        <service android:name=".service.NewsService" />
        <service android:name=".service.MediaService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.GLOBAL_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.NetworkConnectChangedReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.SosReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="AGEDCARE_SOSKEY" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.VideoRequestActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Pn.Translucent" />

        <receiver
            android:name=".receiver.MyBroadCastReceiver1"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.broadcast.CALL_AGREE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.CallBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.broadcast.CALL_REQUEST" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.PhoneListener">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.PHONE_STATE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.VideoReply" />
        <activity android:name=".ui.EatActivity" />
        <activity android:name=".ui.PropertyActivity" /> <!-- android:launchMode="singleInstance"/> -->
        <activity android:name=".ui.FamilyCircleActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Pn.Translucent"/>
        <activity
            android:name=".ui.FamilyMemberManagerActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Pn.Translucent" />
        <activity android:name=".ui.HindebarActivity" />
        <activity android:name=".ui.MallActivity" />
        <activity android:name=".ui.CommunityActivity" />
        <activity
            android:name=".ui.FriendCallActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Pn.Translucent" />
        <activity
            android:name=".ui.EntertainmentActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Pn.Translucent" />
        <activity
            android:name=".ui.ShortMovieActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor" />
        <activity android:name=".friendcircle.PublishedActivity" />
        <activity android:name=".friendcircle.ImageGridActivity" />
        <activity android:name=".friendcircle.PhotoActivity" />
        <activity
            android:name=".ui.ServiceCallActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Pn.Translucent" />
        <activity android:name=".ui.JiazhengActivity" />
    </application>

</manifest>