<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tcking.github.com.giraffeplayer">

    <application>
        <activity
            android:name=".GiraffePlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.Pn.Translucent"/>

    </application>

</manifest>
